* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 13px;
}

body {
  height: 1400px;
  min-width: 200px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  background-color: #ededed;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-user-select: text;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: #343440;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  // font-size: 100%;
  font-weight: 500;
}

$colors: ( //主题颜色
  "primary": #db9e3f,
  "white": #fff,
  "light": #f9f9f9,
  "grey": #999,
  "dark-light": #343440,
  "black-light": #333333,
  "dark": #222,
  "black": #000);

@each $colorKey,
$colorValue in $colors {
  .color-#{$colorKey} {
    color: $colorValue
  }

  .bgc-#{$colorKey} {
    background-color: $colorValue
  }
}

@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

//字体尺寸
$base-font-size : 1rem;
$font-sizes: ("xs": 0.7692, //10px
  "sm": 0.9231, //12px
  "md": 1, //13px
  "lg": 1.0769, //14px
  "xl": 1.2308 //16px
);

@each $sizeKey,
$sizeValue in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $sizeValue * $base-font-size
  }
}

;

//布局
$display: ('bl': block,
  'in-bl': inline-block,
  'il': inline,
  'fl': flex,
  'in-fl': inline-flex);

@each $key,
$value in $display {
  .d-#{$key} {
    display: $value !important;
  }
}

//flex 布局


.flex-c {
  flex-direction: column;
}

//主轴
$fl-jc: ('start': flex-start,
  'end': flex-end,
  'center': center,
  'between': space-between,
  'around': space-around);

@each $key,
$value in $fl-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

// 交叉轴
$fl-ai: (start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch);

@each $key,
$value in $fl-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

//边距定义(单方向)
$base-type-levels: 1rem;
$mp: ('m': margin,
  'p':padding, );
$direction-types:('t': top,
  'r': right,
  'b': bottom,
  'l': left,
);
$type-levels: ('0': 0,
  '1': 0.25,
  '2': 0.5,
  '3': 1,
  '4': 1.5,
  '5': 3);

@each $key,
$value in $mp {

  @each $directionKey,
  $directionValue in $direction-types {

    @each $levelKey,
    $levelValue in $type-levels {
      .#{$key}-#{$directionKey}-#{$levelKey} {
        #{$value}-#{$directionValue}: $levelValue*$base-type-levels
      }
    }
  }
}

//边距定义（所有方向）
@each $key,
$value in $mp {

  @each $levelKey,
  $levelValue in $type-levels {
    .#{$key}-#{$levelKey} {
      #{$value}: $levelValue*$base-type-levels
    }
  }
}

//外边距定义（水平垂直方向）
@each $key,
$value in $mp {

  @each $levelKey,
  $levelValue in $type-levels {
    .#{$key}-x-#{$levelKey} {
      #{$value}-left: $levelValue*$base-type-levels;
      #{$value}-right: $levelValue*$base-type-levels;
    }

    .#{$key}-y-#{$levelKey} {
      #{$value}-top: $levelValue*$base-type-levels;
      #{$value}-bottom: $levelValue*$base-type-levels;
    }
  }
}

//精灵图
.sprite {
  background: url('../assets/img/index.png') no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;

  &.sprite-logo {
    background-position: 0 72.588%;
    width: 2.3077rem;
    height: 2.3077rem;
  }

  &.sprite-baoliao {
    background-position: 63.546% 15.517%;
    width: 2.3077rem;
    height: 2.3077rem;
  }

  &.sprite-shouqi {
    background-position: 38.577% 52.076%;
    width: 2.3077rem;
    height: 100%;
  }
  &.sprite-open {
    background-position: 38.577% 52.076%;
    width: 2.3077rem;
    height: 100%;
    transform: rotate(180deg);
  }
  &.sprite-news {
    background-position: 0.138% 50.452%;
    width: 1rem;
    height: 1rem;
  }

  &.sprite-more {
    background-position: 47.619% 56.305%;
    width: 1.3846rem;
    height: 0.2308rem;
  }
}

.btn {
  border: none;
  border-radius: 0.2308rem;
}

.active {
  border-bottom: 0.2308rem solid transparent;

  &.active-item {
    border-bottom: 0.2308rem solid #fff;

  }
}

.active-news {
  border-bottom: 0.2308rem solid transparent;

  &.active-news-item {
    border-bottom: 0.2308rem solid #db9e3f;
    color: #db9e3f;
  }
}
// .scroll-wrapper {
//   white-space: nowrap !important
// }

// .scroll-content {
// display: inline-block !important
// }